h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Facultad, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.body {
  background-color: #272233;
  font-family: 'Avenir Next Demi', sans-serif;
  color: #faf9fa;
  font-size: 16px;
}

.section {
  position: relative;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-left: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5d4b77;
  -o-object-fit: fill;
  object-fit: fill;
}

.section.hero {
  height: 85vh;
  padding-top: 220px;
  padding-bottom: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #d7d0e2;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-content-v {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 0px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.highlight {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 0%;
  height: Infinity%;
  background-color: #3c3747;
}

.nav-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #a494bd;
  text-decoration: none;
}

.nav-text:hover {
  color: #272233;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Facultad, sans-serif;
  color: #fbdd65;
  font-size: 70px;
  line-height: 100px;
}

.paragraph {
  display: block;
  margin-top: 31px;
  font-family: 'Avenir Next Demi', sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.button-2 {
  margin-top: 30px;
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 11px;
  background-color: #3c3747;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-family: 'Space Grotesk', sans-serif;
  color: #47d1ba;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #47d1ba;
  color: #1b494a;
}

.masthead-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 86.84375px;
  margin-left: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image-2 {
  margin: 10px 10px 10px auto;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-3 {
  display: block;
}

.feature-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.feature-div.center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text {
  width: 90%;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.text.cs {
  width: auto;
  color: #d7d0e2;
  text-align: center;
}

.part-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 23px;
  padding-left: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.part-div.txt {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.divider {
  height: 240px;
  margin-left: 120px;
}

.subheading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: #faa2ba;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subheading.blue {
  margin-bottom: 10px;
  color: #47d1ba;
}

.mini-text {
  font-family: 'Avenir Next Medium', sans-serif;
  color: #a494bd;
}

.mini-text.light {
  color: #d7d0e2;
}

.reg-text {
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.card-container {
  display: -ms-grid;
  display: grid;
  margin-top: 45px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 9px;
  background-color: #a494bd;
}

.card.req {
  background-color: #47d1ba;
}

.card.reg {
  background-color: #dbd7db;
}

.card-link {
  position: relative;
  z-index: auto;
  width: 70%;
  margin-right: 13px;
  margin-bottom: 13px;
  margin-left: 13px;
  padding: 4px;
  border-radius: 4px;
  background-color: #d7d0e2;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  color: #5d4b77;
}

.card-link:hover {
  background-color: #c4e3b5;
}

.card-link.req {
  background-color: #bcf5ec;
}

.card-link.req:hover {
  background-color: #fdefb4;
}

.card-link.reg {
  background-color: #faf9fa;
}

.card-link.reg:hover {
  background-color: #fdefb4;
}

.card-link.n-a:hover {
  background-color: #fecbe1;
}

.card-link.big {
  line-height: 60px;
}

.card-link.left {
  line-height: 40px;
}

.card-text {
  padding-right: 9px;
  padding-left: 9px;
  color: #faf9fa;
}

.card-text.req {
  color: #327072;
}

.card-text.reg {
  color: #857a85;
}

.card-heading {
  color: #3c3747;
}

.coming-soon-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-right: 23px;
  padding-left: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.committee-grid-1 {
  display: -ms-grid;
  display: grid;
  margin-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.committee-images {
  width: 60%;
  margin: 19px;
  border-radius: 20px;
}

.committee-grid-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social {
  max-width: 22px;
}

.social:hover {
  opacity: 1;
}

.social-image {
  opacity: 0.62;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.social-image:hover {
  opacity: 1;
}

.div-block-5 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9007199254740991;
  display: none;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1826;
  color: #a494bd;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #3c3747;
  }
}

#w-node-_83b5530c-2d2b-b914-5f78-2d4b72d0346c-29ebf46a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_83b5530c-2d2b-b914-5f78-2d4b72d03495-29ebf46a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_3ce898a0-2dbd-e8dc-1484-a68ba815ebea-29ebf46a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@font-face {
  font-family: 'Facultad';
  src: url('../fonts/Facultad-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/AvenirNext-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}