h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Facultad, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.body {
  background-color: #272233;
  font-family: 'Avenir Next Demi', sans-serif;
  color: #faf9fa;
  font-size: 16px;
}

.section {
  position: relative;
  right: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-left: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5d4b77;
  -o-object-fit: fill;
  object-fit: fill;
}

.section.hero {
  z-index: 3;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #d7d0e2;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-content-v {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 0px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.highlight {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 0%;
  height: Infinity%;
  background-color: #3c3747;
}

.nav-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #a494bd;
  text-decoration: none;
}

.nav-text:hover {
  color: #272233;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Facultad, sans-serif;
  color: #fbdd65;
  font-size: 70px;
  line-height: 90px;
}

.paragraph {
  display: block;
  margin-top: 31px;
  font-family: 'Avenir Next Demi', sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.button-2 {
  margin-top: 30px;
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 11px;
  background-color: #3c3747;
  -webkit-transition: color 200ms ease-out, background-color 200ms ease-out;
  transition: color 200ms ease-out, background-color 200ms ease-out;
  font-family: 'Space Grotesk', sans-serif;
  color: #47d1ba;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #47d1ba;
  color: #1b494a;
}

.masthead-div {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-left: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url('../images/Flying-rocks-pog.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.masthead-div.bottom {
  background-image: url('../images/Purple-Texture.jpg');
  background-position: 50% 50%;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image-2 {
  margin: 10px 10px 10px auto;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-3 {
  display: block;
}

.feature-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 75px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.feature-div.center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text {
  width: 90%;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.text.faq {
  width: auto;
  color: #faa2ba;
  font-size: 36px;
  line-height: 36px;
}

.part-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 23px;
  padding-left: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.part-div.txt {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.divider {
  position: relative;
  height: 40vh;
  margin-left: 120px;
}

.divider.branch {
  display: block;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.subheading {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: #faa2ba;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subheading.blue {
  margin-bottom: 10px;
  color: #47d1ba;
}

.subheading.small {
  line-height: 36px;
}

.subheading.blue2 {
  color: #47d1ba;
}

.mini-text {
  font-family: 'Avenir Next Medium', sans-serif;
  color: #a494bd;
}

.mini-text.light {
  color: #d7d0e2;
}

.reg-text {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.card-container {
  display: -ms-grid;
  display: grid;
  margin-top: 45px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 9px;
  background-color: #a494bd;
}

.card.req {
  background-color: #47d1ba;
}

.card.reg {
  background-color: #dbd7db;
}

.card-link {
  position: relative;
  z-index: auto;
  width: 70%;
  height: auto;
  margin-right: 13px;
  margin-bottom: 13px;
  margin-left: 13px;
  padding: 4px;
  border-radius: 4px;
  background-color: #d7d0e2;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  color: #5d4b77;
}

.card-link:hover {
  background-color: #c4e3b5;
}

.card-link.req {
  background-color: #bcf5ec;
}

.card-link.req:hover {
  background-color: #fdefb4;
}

.card-link.reg {
  background-color: #faf9fa;
}

.card-link.reg:hover {
  background-color: #fdefb4;
}

.card-link.big {
  height: auto;
  line-height: 60px;
}

.card-link.left {
  line-height: 40px;
}

.card-text {
  padding-right: 9px;
  padding-left: 9px;
  color: #faf9fa;
}

.card-text.req {
  color: #327072;
}

.card-text.reg {
  color: #857a85;
}

.card-heading {
  color: #3c3747;
}

.committee-grid-1 {
  display: -ms-grid;
  display: grid;
  margin-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.face {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.committee-images {
  width: 60%;
  max-width: 60%;
  margin: 19px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 20px;
}

.committee-grid-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.social {
  max-width: 22px;
}

.social:hover {
  opacity: 1;
}

.social-image {
  opacity: 0.62;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.social-image:hover {
  opacity: 1;
}

.div-block-5 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9007199254740991;
  display: none;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1826;
  color: #a494bd;
  font-size: 16px;
}

.faq-dropdown {
  position: static;
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.faq-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.faq-list {
  position: static;
  display: block;
  padding: 20px;
  background-color: transparent;
}

.faq-icon {
  color: #faa2ba;
}

.faq-text h2 {
  color: #c4e3b5;
}

.faq-text p {
  color: #d7d0e2;
}

.faq-text a {
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: #fbdd65;
  text-decoration: underline;
}

.faq-text a:hover {
  color: #fdefb4;
}

.faq-text a:active {
  color: #a494bd;
}

.sales-buttons {
  display: -ms-grid;
  display: grid;
  width: auto;
  height: 60px;
  margin-top: 30px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.shop-link {
  position: relative;
  z-index: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fbdd65;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  color: #5d4b77;
}

.shop-link:hover {
  background-color: #fdefb4;
}

.shop-link:active {
  background-color: #f0cd42;
}

.background-image {
  position: static;
  z-index: 1;
}

.background-image-div {
  position: absolute;
}

.bottom-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom-image {
  position: static;
}

.branch-div {
  position: absolute;
  z-index: 2;
  display: block;
}

.branch {
  position: static;
}

.order-form-div {
  width: 50%;
  margin-top: 30px;
}

.html-embed-2 {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #3c3747;
  }

  .masthead-div.bottom {
    background-position: 50% 50%;
  }

  .feature-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .part-div {
    width: auto;
    padding-bottom: 23px;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }

  .part-div.txt {
    width: auto;
  }

  .part-div.second {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .card-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .committee-grid-1 {
    -ms-grid-row-align: auto;
    align-self: auto;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }

  .committee-images {
    max-width: 60%;
  }

  .committee-grid-2 {
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 0px;
  }

  .navbar {
    display: none;
  }

  .masthead-div {
    margin-left: 0px;
  }

  .divider {
    margin-left: 0px;
  }

  .divider.branch {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .section-content-v {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading {
    font-size: 42px;
    line-height: 45px;
  }

  .paragraph {
    font-size: 18px;
    line-height: 18px;
  }

  .masthead-div.bottom {
    background-image: url('../images/Purple-Texture.jpg');
    background-position: 50% 100%;
  }

  .text {
    width: 100%;
    font-size: 16px;
  }

  .part-div {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .part-div.txt {
    padding-right: 0px;
    padding-left: 0px;
  }

  .divider {
    height: 60vw;
    margin-left: 0px;
  }

  .subheading {
    margin-bottom: 16px;
    font-size: 28px;
  }

  .subheading.small {
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
  }

  .card-link-text {
    line-height: 20px;
  }

  .committee-grid-1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .committee-grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .faq-list {
    padding-top: 0px;
  }

  .image-4 {
    max-width: 75%;
  }

  .image-5 {
    max-width: 75%;
  }
}

#w-node-_83b5530c-2d2b-b914-5f78-2d4b72d0346c-29ebf46a {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#w-node-_83b5530c-2d2b-b914-5f78-2d4b72d03495-29ebf46a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_3ce898a0-2dbd-e8dc-1484-a68ba815ebea-29ebf46a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-c6a7ff21-6590-30a0-0939-dde36f198270-29ebf46a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_49f8f464-c75e-83a4-74aa-989225d2e069-29ebf46a {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  #w-node-_64f1493b-b79d-dc38-3978-5351af59d47a-29ebf46a {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-c6a7ff21-6590-30a0-0939-dde36f198270-29ebf46a {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_49f8f464-c75e-83a4-74aa-989225d2e069-29ebf46a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_64f1493b-b79d-dc38-3978-5351af59d47a-29ebf46a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Facultad';
  src: url('../fonts/Facultad-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/AvenirNext-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir Next Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}